@import "../variables.scss";
.footer{
    &__main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background: linear-gradient(0.25turn, $darkMainColor, $darkDarkMainColor);
        color: $mainBgColor;
        padding: clamp(1%, 40px, 4%) clamp(30px, 10%, 500px);
        justify-content: space-around;
        &-item{
            display: grid;
            row-gap: 10px;
            justify-self: center;
            &>h4{
                font-weight: 500;
                font-size: 1.6em;
                color: white;
            }
        }
    }
}